<div class="banner-color">
  <div class="banner-victoire" style="background-image: url(<%= asset_path 'me.svg' %>)">
    <div class="banner-victoire-content container d-flex align-items-center justify-content-between">
      <div class="banner-victoire__title" data-aos="fade" data-aos-delay="50">
        <div class="p-3 text-center">
          <h1><span>V</span>ictoire <strong><span>V</span>ager</strong></h1>
          <p>Chargée de Communication - Marketing</p>
        </div>
      </div>
      <div class="citation-victoire text-right" data-aos="fade" data-aos-delay="50">
        <div class="citation-texte">
          <% @quote.description.split("\n").each do |description| %>
            <p class='mb-0'><%= description %></p>
          <% end %>
        </div>
        <div class="citation-auteur">
          <p class='mb-0'><% if @quote.author %><%= @quote.author %><% end %></p>
        </div>
      </div>
    </div>
  </div>
</div>
