<div class="citation-victoire text-center p-3">
  <div class="citation-texte">
    <p class='mb-0'>Fais de ta vie un rêve, et d'un rêve, une réalité.</p>
  </div>
  <div class="citation-auteur">
    <p class='mb-0'>Antoine de Saint-Exupéry</p>
  </div>
</div>
