<div class="navbar navbar-expand-sm navbar-light navbar-lewagon bg-orange">
  <div class="container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <%= link_to "#", class: "nav-link mr-5" do %>
              <span><span class='nav-capital'><strong>A</strong></span>ccueil</span>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to "#about", class: "nav-link mr-5" do %>
              <span><span class='nav-capital'><strong>À</strong></span> propos</span>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to "#experiences", class: "nav-link mr-5" do %>
              <span><span class='nav-capital'><strong>E</strong></span>xpériences</span>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to "#contact", class: "nav-link" do %>
              <span><span class='nav-capital'><strong>C</strong></span>ontact</span>
            <% end %>
          </li>
      </ul>
    </div>
  </div>
</div>
