<div class="presentation-container" id='about'>
  <div class="presentation-victoire d-flex justify-content-center align-items-center">
    <%= image_tag "profil-victoire.jpeg", alt: "profil-victoire", class: 'presentation-victoire__image' %>
    <div class="presentation-victoire__text pl-5">
      <%= @victoire.description %>
    </div>
  </div>
</div>
