<div class="presentation-container" id='about'>
  <div class="presentation-victoire d-flex justify-content-center align-items-center">
    <%= image_tag "profil-victoire.jpeg", alt: "profil-victoire", class: 'presentation-victoire__image' %>
    <div class="presentation-victoire__text pl-5">
      Passionnée de nourriture et de spectacle vivant, organisée, rigoureuse, motivée, flexible, touche à tout éclectique, mon but est de rendre le monde plus scintillant de jour en jour !
    </div>
  </div>
</div>
