<div class="skills-container">
  <div class="container py-3">
    <div class="text-center p-3 my-3 experiences__header" data-aos="fade-right" data-aos-delay="50">Compétences</div>
    <div class="row justify-content-center">
      <div class="col-lg-4 col-sm-6 col-10">
        <div class="skills-card p-4">
          <%= image_tag "team_work.svg", alt: "team_work", width: '100%', class: 'skills-card__image mb-3' %>
          <h1>Communication</h1>
          <p>Stratégie Digitale</p>
          <p>Mise en place opérationnelle</p>
          <p>E-reputation</p>
          <p>Social Medias</p>
          <p>Veille</p>
          <p>Planning Stratégique</p>
          <p>TeamBuildings</p>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 col-10">
        <div class="skills-card p-4">
          <%= image_tag "team_connect.svg", alt: "team_work", width: '100%', class: 'skills-card__image mb-3' %>
          <h1>Technologies</h1>
          <p>Trello</p>
          <p>Suite Office</p>
          <p>InDesign</p>
          <p>Photoshop</p>
          <p>Premiere Pro</p>
          <p>WordPress</p>
          <p>Reaper</p>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 col-10">
        <div class="skills-card p-4">
          <%= image_tag "gallery.svg", alt: "team_work", width: '100%', class: 'skills-card__image mb-3' %>
          <h1>Soft Skills</h1>
          <p>Cuisine</p>
          <p>Esprit d'équipe</p>
          <p>Organisation d'Événements</p>
          <p>Chant Lyrique & Jazz</p>
          <p>Burlesque</p>
          <p>Journalisme</p>
          <p>Bilingue Anglais</p>
          <p>Management</p>
        </div>
      </div>
    </div>
  </div>
</div>
