.citation-texte {
  color: #555;
  font-style: italic;
}

.citation-auteur {
  color: $red;
  font-family: $banner-font;
}

.citation-victoire {
  width: 50%;
}

@media (max-width: 500px) {
  .citation-victoire {
    display: none;
  }
}
