.presentation-victoire__image {
  border-radius: 50%;
  height: 350px;
  width: 350px;
  object-fit: cover;
}

.presentation-victoire {
  height: fit-content;
  color: #333;
  width: 80%;
  margin: 0 auto;
  padding: 2rem;
}

.presentation-victoire__text {
  font-style: italic;
  text-align: center;
}

.presentation-container {
  background: $red;
  width: 100vw;
}

@media (max-width: 576px) {
  .presentation-victoire {
    flex-direction: column;
  }

  .presentation-victoire__text {
    padding-left: 0px !important;
    padding-top: 2rem ;
  }
}
